name: Node JS Publish 

on: 
  release:
    types: [published]
  

jobs: 
   publish-npm-packages:
    runs-on: ubuntu-latest
    permissions: 
      packages: write
      contents: read
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
        

      - name: Setup Node JS
        uses: actions/setup-node@v4 
        with: 
          node-version: 20
          registry-url: 'https://npm.pkg.github.com'

      - name: NPM Publish 
        run: npm publish 
        env: 
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
