name: Solar System

on:
  push: 
    branches:
      - main

jobs:
  unit-testing:
    name: Unit Testing
    services:
      mongo-db:
        image: siddharth67/mongo-db:non-prod
        ports: 
          - 27017:27017
    env:
        MONGO_URI: 'mongodb://localhost:27017/superData'
        MONGO_USERNAME: non-prod-user
        MONGO_PASSWORD: non-prod-password 

    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v5

    - name: Setup Node JS
      uses: actions/setup-node@v3
      with: 
        node-version: 18

    - name: Install Dependencies
      run: npm install

    - name: Unit Testing
      run: npm test
      
    - name: Archive Test Result
      uses: actions/upload-artifact@v5
      with:
        name: Mocha-Test-Result
        path: test-results.xml

  code-coverage:
    name: Code coverage
    runs-on: ubuntu-latest
    container:
        image: node:18 
    services:
      mongo-db:
        image: siddharth67/mongo-db:non-prod
        options:
          --name mongo
    env:
        MONGO_URI: 'mongodb://mongo:27017/superData'
        MONGO_USERNAME: non-prod-user
        MONGO_PASSWORD: non-prod-password    
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v5

    # - name: Setup Node JS
    #   uses: actions/setup-node@v3
    #   with: 
    #     node-version: 18

    - name: Install Dependencies
      run: npm install

    - name: Unit Testing
      run: npm test   